{% set title = 'アカウント' %}
{% extends 'layout.html.twig' %}

{% block content %}
<h2>アカウント</h2>

<p>
    ユーザーID:
    <a href="{{ baseUrl }}/user/{{ user.user_name }}">
        <strong>{{ user.user_name }}</strong>
    </a>
</p>

<ul>
    <li>
        <a href="{{ baseUrl }}/">ホーム</a>
    </li>
    <li>
        <a href="{{ baseUrl }}/account/signout">ログアウト</a>
    </li>
</ul>

<h3>フォロー中</h3>

{% if followings|length > 0 %}
<ul>
    {% for following in followings %}
        <li>
            <a href="{{ baseUrl }}/user/{{ following.user_name }}">
                {{ following.user_name }}
            </a>
        </li>
    {% endfor %}
</ul>
{% endif %}

{% endblock %}
