<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if title %}{{ title }}{% endif %} - Mofitter</title>
    <link rel="stylesheet" type="text/css" media="screen" href="/miniblog/css/style.css" />
</head>
<body>
    <div id="header">
        <h1><a href="{{ baseUrl }}/">Mofitter</a></h1>
    </div>

    <div id="nav">
        <p>
            {% if session.isAuthenticated %}
            <a href="{{ baseUrl }}/">ホーム</a>
            <a href="{{ baseUrl }}/account">アカウント</a>
            <a href="{{ baseUrl }}/account/signout">ログアウト</a>
            {% else %}
            <a href="{{ baseUrl }}/account/signin">ログイン</a>
            <a href="{{ baseUrl }}/account/signup">アカウント登録</a>
            {% endif %}
        </p>
    </div>

    <div id="main">
    {% block content %}
    {% endblock %}
    </div>
</body>
</html>

